body {
  min-width: 100%;
  font-family: "Segoe UI", sans-serif;
}

/* Header Styles */
.header {
  min-height: 500px;
  max-width: 100%;
  background: url(./../img/background.png) no-repeat center center;
  background-size: cover;
}

.header-container {
  height: 50px;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}

.header-nav__menu {
  display: none;
}

.header-search {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  max-width: 209px;
  height: 29px;
  border: 1px solid #d9d9d9;
}

.input {
  background-color: #000;
  border: none;
}

.input:focus {
  outline: none;
}

/* Intro Container Styles */
.intro-container {
  min-width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.intro-title {
  color: #d9d9d9;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  padding-top: 200px;
}

.intro-text {
  max-width: 75%;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  padding: 27px 0 50px;
  text-align: center;
  margin: 0 auto;
}

.intro-container > img {
  display: block;
  width: 28px;
  height: 40px;
  align-self: center;
  padding-bottom: 20px;
}

/* Main Content Styles */
.wrapper {
  max-width: 100%;
}

.news-info > img {
  width: 100%;
}

.news-title {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
}

.news-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  padding-bottom: 10px;
}

.news-content {
  position: relative;
  max-width: 100%;
}

.news-content-img {
  min-width: 100%;
}

.news-content-title {
  position: absolute;
  bottom: 80px;
  left: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.news-content-text {
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
}

/* Sidebar Styles */
.profiles {
  max-width: 260px;
  padding-top: 20px;
}

.profile {
  width: 260px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 27px;
}

.profile_name {
  display: block;
  text-decoration: none;
  color: #000;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info > p {
  font-size: 12px;
}

.aside-block {
  min-width: 302px;
  height: 428px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-block > p {
  color: #fff;
}

/* Sidebar News Styles */
.test-news {
  display: none;
}

/* Media Queries */

/* Styles for devices between 320px and 993px */
@media (min-width: 320px) and (max-width: 993px) {
  .news-content:last-child {
    display: none;
  }
}

/* Styles for devices wider than 993px */
@media (min-width: 993.02px) {
  body {
    max-width: 1920px;
  }

  .header {
    max-width: 1920px;
    min-height: 753px;
  }

  .header-nav__menu {
    min-width: 797px;
    display: flex;
    justify-content: space-between;
  }

  .header-nav__menu > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
  }

  .header-nav__menu > li > a:hover {
    text-decoration: underline;
  }

  .intro-container {
    max-width: 1886px;
  }

  .intro-title {
    font-size: 48px;
    padding-top: 435px;
  }

  .intro-text {
    max-width: 50%;
    font-size: 18px;
    padding-bottom: 80px;
  }

  /* Main Styles */
  .wrapper {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    padding-top: 24px;
  }

  .main {
    max-width: 792px;
    padding-right: 40px;
  }

  .news-title {
    font-size: 24px;
    font-weight: 500;
    padding: 17px 0 26px;
  }

  .news-text {
    padding-bottom: 35px;
  }

  .news-contents {
    display: flex;
  }

  .news-content {
    position: relative;
  }

  .news-content:first-child {
    padding-right: 10px;
  }

  /* Sidebar Styles */
  .sidebar {
    max-width: 45%;
    padding-top: 50px;
  }

  .sidebar-profile {
    display: flex;
    justify-content: space-between;
  }

  /* Sidebar News Styles */
  .test-news {
    display: flex;
    padding-top: 30px;
  }

  .test-news > a {
    max-width: 373px;
    text-decoration: none;
    color: #000;
  }

  .test-news > a:first-child {
    padding-right: 20px;
  }

  .test-news-title {
    font-size: 16px;
    line-height: 15px;
    font-weight: 600;
    padding-bottom: 20px;
  }

  .test-news-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }
}